<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:security="http://www.springframework.org/schema/security"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <b:bean id="userDetailsServiceImpl" class="by.intexsoft.kova.service.impl.UserDetailsServiceImpl">
    </b:bean>

    <http authentication-manager-ref="manager" auto-config="true" use-expressions="true">
        <intercept-url pattern="/api/books**" access="hasAuthority('USER')"/>
        <intercept-url pattern="/api/requests**" access="hasAuthority('USER')"/>
        <intercept-url pattern="/admin**" access="hasAuthority('ADMIN')"/>
        <security:form-login login-processing-url="/login"
                             username-parameter="username"
                             password-parameter="password"
                             default-target-url="/api/qiwi"
                             always-use-default-target="true"/>

        <!--login-page='/login'-->
        <!--<security:logout logout-url="/logout"-->
                         <!--logout-success-url="/"/>-->
        <!--<security:logout logout-url="/api/vitya/" logout-success-url="/api/"/>-->
        <!--<logout logout-success-url="/login?logout" />-->
        <csrf disabled="true"/>

    </http>

    <b:bean id="encoder"
            class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <authentication-manager id="manager">
        <authentication-provider user-service-ref="userDetailsServiceImpl">
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>

</b:beans>